<%- layout("layouts/boilerplate") %>
<div class="row">
  <div class="col-md-6 mx-auto">
    <h3><%= listing.title %></h3>
    <div class="card border-0">
      <img
        src="<%= listing.image.url %>"
        class="card-img-top rounded-3"
        alt="..."
        style="height: 15rem"
      />
      <div class="card-body p-0">
        <p class="card-text">Owned by <i><%= listing.owner.username %></i></p>
        <p class="card-text"><%= listing.description %></p>
        <p class="card-text">
          &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
        </p>
        <p class="card-text"><%= listing.location %></p>
        <p class="card-text"><%= listing.country %></p>
      </div>
    </div>

    <% if (currUser && listing.owner._id.equals(currUser._id)) { %>
    <div class="row mt-3">
      <div class="col-6">
        <a href="/listing/<%= listing._id %>/edit" class="w-100 btn btn-primary"
          >Edit</a
        >
      </div>
      <div class="col-6">
        <form action="/listing/<%= listing._id %>?_method=DELETE" method="POST">
          <button class="btn btn-danger w-100">Delete</button>
        </form>
      </div>
    </div>
    <% } %>
    <hr />
    <% if(currUser) {%>
    <div>
      <h4 class="text-center mb-2">Leave a Review</h4>
      <form
        action="/listing/<%= listing._id %>/review"
        method="POST"
        novalidate
        class="needs-validation"
      >
        <div class="mb-3">
          <label class="form-lable" for="rating">Rating</label>
        <fieldset class="starability-slot">
          <input
            type="radio"
            id="no-rate"
            class="input-no-rate"
            name="rating"
            value="1"
            checked
            aria-label="No rating."
          />
          <input type="radio" id="second-rate1" name="rating" value="1" />
          <label for="second-rate1" title="Terrible">1 star</label>
          <input type="radio" id="second-rate2" name="rating" value="2" />
          <label for="second-rate2" title="Not good">2 stars</label>
          <input type="radio" id="second-rate3" name="rating" value="3" />
          <label for="second-rate3" title="Average">3 stars</label>
          <input type="radio" id="second-rate4" name="rating" value="4" />
          <label for="second-rate4" title="Very good">4 stars</label>
          <input type="radio" id="second-rate5" name="rating" value="5" />
          <label for="second-rate5" title="Amazing">5 stars</label>
        </fieldset>
        <div class="mb-3">
          <label class="form-lable" for="comment">Comment</label>
          <textarea
            name="comment"
            id="comment"
            rows="5"
            class="form-control border-2"
            required
          ></textarea>
          <div class="invalid-feedback">Need to write review.</div>
        </div>
        <button class="btn btn-secondary text-center w-100">Submit</button>
      </form>
    </div>
    <hr />
    <% } %>
    <% if(listing.review) {%>
    <div class="row g-3">
      <p class="text-center"><b>All Reviews</b></p>
      <% for(review of listing.reviews){ %>
      <div class="card col-6">
        <div class="card-body">
          <h5 class="card-title">@<%= review.author.username %></h5>
          <p class="starability-result" data-rating="<%= review.rating %>"></p>
          <p class="card-text"><%= review.comment %></p>
          <form
            action="/listing/<%= listing._id %>/review/<%= review.id %>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
      <% } %>
    </div>
    <% } %>
  </div>
  <div className="mt-3">
    <iframe width="100%" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=<%= listing.location %>&<%= listing.country %>t=&z=13&ie=UTF8&iwloc=&output=embed&markers=color:red%7CNew+York,USA"></iframe>
  </div>
</div>
